@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tracking for that Awwwards look */
h1, h2 {
  letter-spacing: -0.04em;
}